/* Global  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-size: 46px;
    font-weight: 800;
    line-height: 55px;
}

h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    margin-bottom: 10px;
}

h4 {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
}

h5 {
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
}

h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #dc4f72;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24, 5px;
    margin: 15px 0 35px 0;
}

/* header  */

header.main-header {
    background-color: white;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease 0s;
}

.navbar p {
    margin-bottom: 0;
    color: #dc4f72;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1;
}

.navbar p i {
    padding-right: 5px;
}

#navbarMovie .navbar-nav a {
    padding: 14px 0;
    transition: all .5s;
    font-size: 16px;
    font-weight: 400;
    color: #2C3038;
}

#navbarMovie .nav-item {
    padding: 0 15px;
}

#navbarMovie .nav-item:hover .nav-link {
    color: #dc4f72;
}

#navbarMovie .navbar-nav .dropdown i {
    font-size: 12px;
}

#navbarMovie .nav-item .nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: #dc4f72;
    transition: all .5s;
}

#navbarMovie .nav-item:hover .nav-link::after {
    width: 40%;
}

#navbarMovie .nav-item.active a {
    color: #dc4f72;
}

#navbarMovie .dropdown-menu .dropdown-item::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: #dc4f72;
    transition: all .5s;
}

#navbarMovie .dropdown-menu .dropdown-item:hover::after {
    width: 20%;
}

#navbarMovie .dropdown-menu .dropdown-item {
    padding-left: 20px;
}

#navbarMovie .search {
    margin-right: 16px;
}

#navbarMovie .search a {
    color: #5a5a5a;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    border-radius: 50%;
    opacity: .7;
    transition: all .5s;
}

#navbarMovie .search a:hover {
    opacity: 1;
}

#navbarMovie .header__demo a {
    display: inline-block;
    color: #dc4f72;
    border: 1px solid #dc4f72;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all .5s;
}

#navbarMovie .header__demo:hover a {
    color: white;
    background-color: #dc4f72;
}

.search .popup:target {
    visibility: visible;
    opacity: 1;
}

.search .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ba;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
}

.seach__popup {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    top: 50%;

}

.seach__popup form {
    display: flex;
}

.seach__popup input {
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    border: 1px solid #eee;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.seach__popup button {
    padding: 0 25px;
    background-color: #dc4f72;
    border: 1px solid #dc4f72;
    color: white;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    transition: all .5s;
}

.seach__popup button:hover {
    opacity: 0.7;
}

.seach__popup a {
    position: absolute;
    top: -70px;
    right: 0;
}

.seach__popup a i {
    font-size: 25px;
    font-weight: bold;
}

/* topBody */
.topBody {
    background-color: #F7F9FC;
    padding: 15px 20px;
    margin-top: 90px;
}

.topBody .toptop {
    font-size: 14px;
}

.topBody .toptop a {
    text-decoration: none;
    color: #dc4f72;
    margin-right: 5px;
}


/* Services our  */
.our__left h5 {
    font-size: 24px;
    line-height: 30px;
    color: #999;
    font-weight: 300;
}
.our__left a {
    text-decoration: none;
    display: inline-block;
    padding: 0 30px;
    font-size: 14px;
    line-height: 52px;
    font-weight: bold;
    color: white;
    background-color: #dc4f72;
    border-radius: 5px;
    transition: all .5s;
}
.our__left a:hover{
    background-color: #f03c69;
}
.our__right .items_icon a {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #F7F9FC;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    margin-bottom: 15px;
}
.our__right .items_text a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    line-height: 24px;
}
.our__right .items_text p {
    margin: 5px 0 0 0;
}
.products {
    background-color: #F7F9FC;
}
.products__top {
    max-width: 750px;
    margin: 0 auto;
}
.products__top h3 {
    font-size: 46px;
    line-height: 1;
    font-weight: bold;
}
.products_item span {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #dc4f72;
    background-color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
.products_item h6 a {
    font-size: 18px;
    color: black;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5px;
    transition: all .5s;
}
.products_item h6 a:hover {
    color: #dc4f72;
}
.products_item p{
    margin: 0 0 0 0;
}
.products__img img {
    border-radius: 50%;
    transition: all .5s;
}
.products__img img:hover {
    transform: translateY(-10px);
}
/* FEATURES  */
.features__top {
    max-width: 750px;
    margin: 0 auto;
}
.features__top h3 {
    font-size: 46px;
    font-weight: bold;
    line-height: 1;
}
.features__bottom h3 {
    font-weight: bold;
}
.features__content {
    padding: 32px;
}
.features__text ul li {
    list-style: none;
    font-size: 16px;
    margin: 15px 0;
    color: black;
}
.features__text ul li i {
    font-size: 10px;
    font-weight: bold;
    padding: 8px;
    border-radius: 50%;
    color: #dc4f72;
    background-color: rgb(220 79 114 / 10%);
    opacity: .5;
    margin-right: 15px;
}
.features__text a {
    display: inline-block;
    text-decoration: none;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    color: white;
    background-color: #dc4f72;
    border-radius: 5px;
    transition: all .5s;
}
.features__text a:hover {
    background-color: #f93264;
}
.features__image img {
    border-radius: 5px;
    transition: all .5s;
}
.features__image img:hover {
    transform: translateY(-10px);
}
/* FOOTER  */
footer {
    background-color: #F7F9FC;
}

.footer__top {
    padding: 0 20px 0 30px;
}

.footer__top .footer__content h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer__top .footer__content li {
    list-style: none;
    margin: 10px 0;
}

.footer__top .footer__content a {
    text-decoration: none;
    color: #656f7b;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    transition: all .5s;
}

.footer__top .footer__content a:hover {
    color: #dc4f72;
}

.footer__top .top__right h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer__top .footer__email {
    padding: 32px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.121);
}

.footer__top .footer__email h4 {
    font-size: 18px;
    line-height: 25px;
}

.footer__top .footer__email p {
    font-size: 16px;
    color: #5a5a5a;
    line-height: 22px;
}

.footer__email form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer__email input {
    background-color: #F7F9FC;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid white;
    font-weight: 400;
    width: 100%;
}

.footer__email button {
    font-size: 16px;
    padding: 10px 30px;
    color: white;
    background-color: #dc4f72;
    border: 1px solid #dc4f72;
    border-radius: 7px;
}

.footer__bottom .bottom__left p {
    font-size: 15px;
    color: #5a5a5a;
    line-height: 22px;
}

.footer__bottom a {
    text-decoration: none;
    color: black;
    transition: all .5s;
}

.footer__bottom .bottom__left a:hover {
    color: #dc4f72;
}

.footer__right li {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}

.footer__right li i {
    font-size: 15px;
    line-height: 36px;
}

.footer__right li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    transition: all .5s;
}

.footer__right li a:hover {
    color: #dc4f72;
}

/* BACK TO TOP  */
.backToTop {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    opacity: .7;
    z-index: 99;
    visibility: hidden;

}

.backToTop i {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #dc4f72;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    color: white;
    transition: all .5s;
}

.backToTop.show {
    visibility: visible;
}

.backToTop:hover i {
    background-color: rgba(255, 0, 0, 0.616);
}

@media screen and (max-width:992px) {
    .navbar-toggler {
        background-color: #dc4f72;
        color: white;
        border-radius: 5px;
    }
    .navbar-expand-lg .nav-link, .search, .header__demo{
        display: block;
        padding: 8px 0;
        text-align: center;
        background-color: white;
    }
    .container {
        max-width: 100%;
        padding: 0 25px;
        margin: 0 auto;
    }
    .products__img {
        width: 300px;
        margin: 20px auto 40px;
    }
}

@media screen and (max-width:800px) {
    h3, .products__top h3, .features__top h3, .features__bottom h3  {
        font-size: 40px;
        line-height: 50px;
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 667px) {
    h3, .products__top h3, .features__top h3, .features__bottom h3 {
        font-size: 32px;
        line-height: 42px;
    }

    h2 {
        font-size: 36px;
        line-height: 42px;
    }
}